@model PMIS.ViewModels.DashBoardViewModel
<div class="small-box bg-success">
    <div class="inner">
        <h3>@Model.loggedPhysician</h3>

        <p>Logged Physician</p>
    </div>
    <div class="icon">
        <i class="fa fa-user-md"></i>
    </div>
    <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
</div>