@model PMIS.ViewModels.DashBoardViewModel
<div class="small-box bg-warning">
    <div class="inner">
        <h3>@Model.registeredPatients</h3>

        <p>Registered Patients</p>
    </div>
    <div class="icon">
        <i class="fas fa-user-injured"></i>
    </div>
    <a href="@Url.Action("Index","Patient")" class="small-box-footer">View All <i class="fas fa-arrow-circle-right"></i></a>
</div>