

@if (Request.IsAuthenticated)
{
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-6" id="appointment">
               
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-6" id="loggedphycisian">
              
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-6" id="registeredPatients">
                <!-- small box -->
              
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-6" id="medicines">
                <!-- small box -->
               
            </div>
            <!-- ./col -->
        </div>
   
    </div>
}






@section scripts
{
    @Scripts.Render("~/Scripts/js_dashboard.js")
}
