
<div class="container-fluid">
    <form >
        <input type="hidden" value="@ViewBag.patId" id="cap"/>
        <div class="row">
            <div class="col-lg">
                <div id="picsnap" style="width: 320px; height: 240px">

                </div>
            </div>


        </div>
        <div class="row mt-3">
            <div class="col-sm offset-4">
                <button id="capture-profileImage" type="button" class="btn btn-default">Capture Image </button>
            </div>
        </div>
    </form>
</div>
