

<input type="hidden" value=@ViewBag.phyId id="hdn_docuserId" />

<div class="container">
    <div class="row">
        <div class="col-md-10 col-sm-12">
            <div class="card card-fullheight">
                <div class="card-header">
                    <h3 class="card-title">Appointment List </h3> <span id="appoint-count"> 1 </span>
                    <div class="card-tools">

                        <i class="fal fa-calendar-alt"> </i>

                        <h3 id="appoint-date"> @DateTime.Now.ToString("MMMM dd ,yyyy")</h3>
                    </div>
                </div>
                <div class="card-body pt-1 px-1 table-responsive">
                    
                    <table class="table table-striped table-hover table-sm" id="appoint">
                        <thead>
                        <tr>
                            <th style="width: 10%;">APT#</th>
                            <th style="width: 40%;">PATIENT NAME</th>
                            <th>Status</th>
                            <th class="text-center" style="width: 20%;">ACTION</th>
                        </tr>
                        </thead>
                        <tbody id="tableAppoint">
                           
                        </tbody>
                    </table>
                    

                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{

    <script type="text/javascript">

        var docAppoint = {

            getPatientMedicalHistory: "@Url.Action("MedicalHistory","PatientMedicalRecord",new {area="Doctor",@id="patid", @phyid="phid"})"
           
        }

    </script>
    
    @Scripts.Render("~/Areas/Scripts/js_doc_appoint.js")
  
}