

<input type="hidden" value=@ViewBag.phyId id="hdn_docuserId" />
<div class="container">
    <div class="row">
        <div class="col-md-10 col-sm-12">
            <div class="card card-fullheight">
                <div class="card-header">
                    <h3 class="card-title">Appointment List </h3> <span class="badge bg-primary ml-2 mb-1" id="appoint-count">  </span>
                    <div class="card-tools">

                        <i class="fal fa-calendar-alt"> </i>

                        <h3 id="appoint-date"> @DateTime.Now.ToString("MMMM dd ,yyyy")</h3>
                    </div>
                </div>
                <div class="card-body pt-1 px-1 table-responsive">
                    
                    <table class="table table-striped table-hover table-sm" id="appoint">
                        <thead>
                        <tr>
                            <th style="width: 10%;">#</th>
                            <th style="width: 40%;">Patient Name</th>
                            <th>Status</th>
                            <th style="width: 20%;"></th>
                        </tr>
                        </thead>
                        <tbody id="tableAppoint">
                        @{
                            Html.RenderAction("GetAppointmentByDoctor", "DocAppointment",new {area="Doctor",@id= @ViewBag.phyId, @appointmentDate=DateTime.Now});
                        }
                        </tbody>
                    </table>
                    

                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{

    <script type="text/javascript">

        var docAppoint = {

            getPatientMedicalHistory:"@Url.Action("MedicalHistory","PatientMedicalRecord",new {area="Doctor",@id="patid", @phyid="phid"})"
        }

    </script>
    
    @Scripts.Render("~/Areas/Scripts/js_doc_appoint.js")
  
}