@using PMIS.Model
@model MedicalRecord

<input type="hidden" value="@ViewBag.page" id="currPage"/>

@{
    if (Model != null)
    {
        @Html.HiddenFor(m => m.RecordNo, new {id = "recNo"})
        <div class="card card-primary card-outline">
            <div class="card-header p-2">
                <h3 class="card-title">
                    <i class="nav-icon fal fa-file-medical-alt"> </i>
                    Patient Record
                </h3>
                <div class="card-tools">
                

                    <button type="button" class="btn btn-tool" data-toggle="tooltip" id="return_to_list" title="Return to List">
                        <i class="fas fa-times"></i>
                    </button>
                </div>
            </div>

            <!--card header-->

            <div class="card-body p-0 m-0">
                
                <div class="mailbox-read-info pl-2 bg-info clearfix">
                    
                        <div class="user-block m-0 p-1" style="width:100%;" id="medrecDetails">
                            <span class="text-white texthead m-0 p-0">Subjective: </span>
                            <span class="texticon iconmedDetails pull-right m-0 p-0" style="text-align:right;visibility:hidden;">

                                @{
                                    if (Model.RecordDetails != null)
                                    {
                                        <button type="button" class="btn btn-flat btn-xs" id="btn-modifymedication" title="Modify Medication">
                                            <i class="far fa-edit fa-fw text-white"></i>
                                        </button>
                                    }
                                   
                                }

                               
                            </span>
                        </div>


                    @*<h6><span class="mailbox-read-info">@Model.RecordDate.Value.ToString("yy-MMM-dd ddd tt")</span></h6>*@
                </div>


                <div class="subjective-message with-border border-bottom">

                    @(new HtmlString(Model.RecordDetails))

                </div>



                <div class="mailbox-read-info pl-2 bg-info clearfix">

                    <div class="user-block m-0 p-1" style="width:100%;" id="medication">
                        @{
                           var hasrecordMedication = Model.Medications.Count > 0 ? "disabled" : "";
                        }

                        <span class="text-white texthead m-0 p-0">Current Medication: </span>
                        <span class="texticon iconmedication pull-right m-0 p-0" style="text-align:right;visibility:hidden;">
                            <button type="button" class="btn btn-flat btn-xs" id="medication" title="Add Medication" @hasrecordMedication>
                                <i class="far fa-plus-square fa-fw text-white"></i>
                            </button>
                            <button type="button" class="btn btn-flat btn-xs" id="btn-modifymedication" title="Modify Medication">
                                <i class="fas fa-edit fa-fw text-white"></i>
                            </button>
                            <button type="button" class="btn btn-flat btn-xs" id="removeMedication" title="Remove Medication">
                                <i class="fas fa-trash fa-fw  text-white"></i>
                            </button>
                        </span>
                    </div>


                  
                </div>
                <div class="subjective-message with-border border-bottom">

                    <!-- medication here -->
                    @{
                        Html.RenderAction("GetMedicationView", "PatientMedicalRecord", new { area = "Doctor", recNo = Model.RecordNo });
                    }


                </div>


                <div class="mailbox-read-info pl-2 bg-info clearfix">

                    <div class="user-block m-0 p-1" style="width:100%;" id="prescription" >
                       

                        <span class="text-white texthead m-0 p-0">Prescription: </span>
                        <span class="texticon iconprescription pull-right m-0 p-0" style="text-align:right;visibility:hidden;">
                            <button type="button" class="btn btn-flat btn-xs btn-x" id="btn-newprescription" title="Add Prescription">
                                <i class="far fa-plus-square fa-fw text-white"></i>
                            </button>
                            <button type="button" class="btn btn-flat btn-xs btn-x" disabled="disabled" id="btn-modifyPrescription" title="Edit Prescription">
                                <i class="fas fa-edit fa-fw text-white"></i>
                            </button>
                            <button type="button" class="btn btn-flat btn-xs btn-x" disabled="disabled" id="btn-prescriptionremove" title="Remove Prescription">
                                <i class="fas fa-trash fa-fw  text-white"></i>
                            </button>

                            <button type="button" class="btn btn-flat btn-xs btn-x" id="printPrescription" title="Print Prescription">
                                <i class="fas fa-print fa-fw  text-white"></i>
                            </button>

                        </span>
                    </div>



                </div>

                <div class="subjective-message with-border border-bottom table-responsive p-0" id="med_prescription">

                    @{

                        Html.RenderAction("GetMedPrescription","PatientMedicalRecord",new {area="Doctor",recordNo=Model.RecordNo});

                    }


                </div>

            </div>

        </div>
       
    }
    else
    {
        <div class="card card-primary card-outline">
            <div class="card-header">
                <h3 class="card-title">
                    <i class="nav-icon fal fa-file-medical-alt"> </i>
                    Patient Record
                </h3>
                <div class="card-tools">

                    <button type="button" class="btn btn-default btn-sm" data-toggle="tooltip" id="return_to_list" data-container="body" title="Return to List">
                        <i class="fas fa-reply"></i>
                    </button>
                </div>
            </div>
            
            <div class="card-body p-0" style="min-height: 250px;">
                    
            </div>
        </div>
    }
}


