
.spinner {
    position: fixed;
    top: 60%;
    left: 50%;
    margin-left: -50px;
    margin-top: -50px;
    text-align: center;
    z-index: 1234;
    overflow: auto;
    width: 100px;
    height: 102px;
}

div#spinn-loader {
    display: none;
    width: 200px;
    height: 200px;
    position: fixed;
    top: 50%;
    left: 50%;
    background: url('../Images/Spinner-1.gif')no-repeat center white;
    /*background: url(../Images/ajax-spinloader2.gif) no-repeat center white;*/
    text-align: center;
    vertical-align: middle;
    padding: 10px;
    font: normal 16px Tahoma, Geneva, sans-serif;
    border: 1px solid #666;
    margin-left: -50px;
    margin-top: -50px;
    z-index: 1234;
    overflow: auto;
}


textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
select:focus,
.uneditable-input:focus {
    border-color: rgba(126, 239, 104, 0.8);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(126, 239, 104, 0.6);
    outline: 0 none;
}


@media(max-width: 768px) {
    .modal-dialog {
        min-height: calc(100vh - 20px);
    }
}


table.dataTable thead {
    background-color:#f9f9f9;
}
table.dataTable tbody tr.even:hover,table.dataTable tbody tr.even td.highlighted {
    background-color: #ECFFB3;
}
table.dataTable tbody tr.odd:hover,table.dataTable tbody tr.odd td.highlighted {
    background-color: #E6FF99;
}
table.dataTable tr.even:hover {
    background-color: #ECFFB3;
}

#tablePatient_filter input {
    width: 280px;
}
#table-physician input {
    width: 280px;
}

.required:after
{
    content: " *";
    font-size: 15px;
    font-weight: bold;
    color: Red;
    vertical-align: middle;
}
.modal {
    position: absolute;
    top: 35px;
    right: 100px;
    bottom: 0;
    left: 0;
    overflow: auto;
    overflow-y: auto;
}
.card-tools i {
    margin-right: 10px;
}
.card-tools h3 {
    font-size: 20px;
    color: cornflowerblue;
    display: inline-block;
    margin: 0;
}

.appointinfo-date {
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    padding: 10px;
}
.appointinfo-date select {
    display: inline-block;
    margin: 0;
    margin-right: 10px;
    width: 350px;
  
}

.user-block.date-block {
    display: block;
    margin-left: 10px;
   
}
.date-block {
    font-size: 16px;
    font-weight: 400;
    margin-top: -1px;
    color: #1E90FF;
}
.user-block .description {
    color: #6c757d;
    font-size:11px;
    margin-top: -3px;
}
.post-content {
    margin-top: 10px;
    display: block;
    color: black;
}
.post-title {
    font-size: 23px;
    color: black;
    margin-top: 3px;
    margin-bottom: 3px;
}
.link-chart {
    color: #6c757d;
}
.link-chart:hover, .link-chart:focus {
    color: #FF5733;
}

.patient-header {
    font-size: 18px;
    color: #1E90FF;
    margin-left: 5px;
}

.mailbox-read-message {
    /*min-height: 100px;*/
    max-height: 60px;
    padding-bottom:5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.subjective-message {
    padding: 10px;
}
.subjective-message >p {
    margin-bottom: 2px;
    font-size: 13px;
    color: #000000;
   
}
.mailbox-read-message > p {
    margin-bottom: 2px;
    font-size: 13px;
}
.mailbox-read-message > ol {
    font-size: 13px;
}
.mbox-button {

    margin-right: 8px;

}
.mbox-button > a {
    color: #1a4970;
}

#compose-medication {
    min-height: 200px;
}
.card-fullheight {
    height: 80vh;
}

.user-block .username,
.user-block .description
 {

    margin-top: 5px;
    margin-left: 5px;
}
.medical-history {
    margin: 3px;
    height: 70px;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;

}
.medical-history > p,
.medical-history > h1,
.medical-history > h2,
.medical-history > h3,
.medical-history > h4,
.medical-history > h5,
.medical-history > h6
{
    margin-top: 3px;
    margin-bottom: 3px;
    font-size: 13px;
    color: #000000;
   
}
/*.medical-history-page {
    position: absolute;
    bottom:5px;
    width: 700px;
    padding: 15px;
}*/

.mailbox-read-info {
    margin: 3px 3px;
    padding: 2px;
}

.mailbox-read-info > h5{
    font-size:1.0em;
    color: darkblue;
}
/*#img-portrait {
    height: 200px;
    width:100%;
    border: 1px solid #000000;
   
}*/

.uploadpics {
    margin-top: 11px;
    margin-bottom: 12px;
    text-align: center;
    visibility: hidden;
}
.box-profile:hover .uploadpics {
    visibility: visible;
    cursor: pointer;
    -ms-transform: scale(1.3);
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}

.uploadpics >button {
    width: 50px;
}

.img-thumbnail {
    width: 70%;
    padding:6px;
}
.profile_info {
    text-align: center;
    margin-bottom:15px;
}

